In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns
import plotly.express as px
# import theme

%matplotlib inline

In [2]:
gdp = pd.read_csv('d.csv')
employement_stats = pd.read_csv('emp.csv')

In [3]:
new = pd.read_csv('d.csv')

In [4]:
new

,country,iso_three,year,Time Code,agric_perc_growth,exports_goods_services,final_consumption_expenditure,gdp_anual_perc,gdp_capita,government_consumption_expenditure,gni_growth,gni_per_capita,gross_capital_formation,gross_fixed_capital_formation,households_expenditure,households_consumption_expenditure_capita_growth,imports_goods_services,industry,manufacturing,services_value_added
0,Afghanistan,AFG,1960,YR1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1961,YR1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1962,YR1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1963,YR1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1964,YR1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13232,Zimbabwe,ZWE,2016,YR2016,-3.882448,21.000791,-6.735755,0.755869,-0.793105,13.132809,2.468722,0.893415,0.469254,0.494346,-10.483923,-11.860102,-3.276225,1.328086,0.555005,3.266328
13233,Zimbabwe,ZWE,2017,YR2017,9.999998,4.803278,3.925848,4.699400,3.182506,14.508497,12.859599,11.224480,4.200003,4.243864,1.402748,-0.066383,3.247995,2.464900,1.300003,5.063418
13234,Zimbabwe,ZWE,2018,YR2018,18.300002,-29.271143,0.496321,3.497160,2.047700,27.179801,3.138296,1.693862,4.704033,4.553103,-6.687748,-7.994569,-25.295198,3.168071,1.296343,1.535656
13235,Zimbabwe,ZWE,2019,YR2019,NaN,NaN,NaN,-8.100000,-9.396793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13236,Zimbabwe,ZWE,2020,YR2020,NaN,NaN,NaN,-8.000000,-9.346018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
new = new.replace(np.nan, '', regex=True)
new

,country,iso_three,year,Time Code,agric_perc_growth,exports_goods_services,final_consumption_expenditure,gdp_anual_perc,gdp_capita,government_consumption_expenditure,gni_growth,gni_per_capita,gross_capital_formation,gross_fixed_capital_formation,households_expenditure,households_consumption_expenditure_capita_growth,imports_goods_services,industry,manufacturing,services_value_added
0,Afghanistan,AFG,1960,YR1960,,,,,,,,,,,,,,,,
1,Afghanistan,AFG,1961,YR1961,,,,,,,,,,,,,,,,
2,Afghanistan,AFG,1962,YR1962,,,,,,,,,,,,,,,,
3,Afghanistan,AFG,1963,YR1963,,,,,,,,,,,,,,,,
4,Afghanistan,AFG,1964,YR1964,,,,,,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13232,Zimbabwe,ZWE,2016,YR2016,-3.882448,21.000791,-6.735755,0.755869,-0.793105,13.132809,2.468722,0.893415,0.469254,0.494346,-10.483923,-11.860102,-3.276225,1.328086,0.555005,3.266328
13233,Zimbabwe,ZWE,2017,YR2017,9.999998,4.803278,3.925848,4.6994,3.182506,14.508497,12.859599,11.22448,4.200003,4.243864,1.402748,-0.066383,3.247995,2.4649,1.300003,5.063418
13234,Zimbabwe,ZWE,2018,YR2018,18.300002,-29.271143,0.496321,3.49716,2.0477,27.179801,3.138296,1.693862,4.704033,4.553103,-6.687748,-7.994569,-25.295198,3.168071,1.296343,1.535656
13235,Zimbabwe,ZWE,2019,YR2019,,,,-8.1,-9.396793,,,,,,,,,,,
13236,Zimbabwe,ZWE,2020,YR2020,,,,-8.0,-9.346018,,,,,,,,,,,

In [6]:
new.to_csv('new_data.csv')

In [55]:
mdf = new.query('year==(2020)')

In [56]:
mdf

,country,iso_three,year,Time Code,agric_perc_growth,exports_goods_services,final_consumption_expenditure,gdp_anual_perc,gdp_capita,government_consumption_expenditure,gni_growth,gni_per_capita,gross_capital_formation,gross_fixed_capital_formation,households_expenditure,households_consumption_expenditure_capita_growth,imports_goods_services,industry,manufacturing,services_value_added
60,Afghanistan,AFG,2020,YR2020,5.311876,,,-1.934778,-4.168191,,,,,,,,,-4.219543,-3.524613,-4.758449
121,Albania,ALB,2020,YR2020,0.909585,-25.640888,-1.995351,-3.311239,-2.750816,0.828204,,,,-1.790981,,,-19.791989,-1.028153,-5.132745,-8.830196
182,Algeria,DZA,2020,YR2020,1.600011,-11.127878,-3.199239,-5.480992,-7.201022,1.323784,-5.201186,-6.926308,-13.374194,-15.896076,-5.499998,-7.219682,-19.700007,-7.25057,,-5.299997
243,American Samoa,ASM,2020,YR2020,,,,,,,,,,,,,,,,
304,Andorra,AND,2020,YR2020,,,,-11.956058,-12.09166,,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12992,Virgin Islands (U.S.),VIR,2020,YR2020,,,,,,,,,,,,,,,,
13053,West Bank and Gaza,PSE,2020,YR2020,-9.166894,-7.017677,-10.121878,-11.457452,-13.631959,0.165506,-12.478141,-14.627582,-23.221852,-24.020761,-12.453899,-14.603935,-15.417676,-19.545853,-12.883643,-10.149
13114,"Yemen, Rep.",YEM,2020,YR2020,,,,,,,,,,,,,,,,
13175,Zambia,ZMB,2020,YR2020,17.207462,,,-3.016189,-5.774843,,,,,,,,,0.634007,-1.480263,-6.171127
13236,Zimbabwe,ZWE,2020,YR2020,,,,-8.0,-9.346018,,,,,,,,,,,

In [57]:
mdf.to_csv('mz.csv')

In [58]:
df.head() #.to_dict('record')

NameError: name 'df' is not defined

In [ ]:
employement_stats.head()

In [11]:
def gdp():
    df = pd.read_csv('gdp.csv')
    return df #.to_dict('record')

In [12]:
gdp()

    year       gdp
0   1961  3.844751
1   1962  6.177883
2   1963  7.373613
3   1964  7.939782
4   1965  6.122761
5   1966  4.438308
6   1967  7.196576
7   1968  4.153445
8   1969  4.715831
9   1970  5.248674
10  1971  4.278970
11  1972  1.654762
12  1973  4.571998
13  1974  6.111054
14  1975  1.695448
15  1976  2.249904
16  1977 -0.094038
17  1978  3.014549
18  1979  3.790504
19  1980  6.620585
20  1981  5.360737
21  1982 -0.383391
22  1983 -1.846544
23  1984  5.099115
24  1985 -1.211484
25  1986  0.017835
26  1987  2.100735
27  1988  4.200133
28  1989  2.394784
29  1990 -0.317786
30  1991 -1.018220
31  1992 -2.137057
32  1993  1.233520
33  1994  3.200001
34  1995  3.099995
35  1996  4.299999
36  1997  2.600002
37  1998  0.500001
38  1999  2.399996
39  2000  4.200003
40  2001  2.699995
41  2002  3.700382
42  2003  2.949079
43  2004  4.554553
44  2005  5.277056
45  2006  5.603798
46  2007  5.360476
47  2008  3.191047
48  2009 -1.538089
49  2010  3.039731
50  2011  3.284168
51  2012  2.213355
52  2013  2.485200
53  2014  1.846992
54  2015  1.193733
55  2016  0.399088
56  2017  1.414513
57  2018  0.787056
58  2019  0.152583
59  2020 -6.959604

In [13]:
n = pd.read_csv('emp.csv')
n

    year  total   male  female
0   1998  25.00  21.32   29.96
1   1999  25.37  21.06   30.26
2   2000  29.88  25.33   35.66
3   2001  30.69  26.33   36.41
4   2002  33.29  27.31   41.32
5   2003  32.31  27.08   39.32
6   2004  29.45  24.41   36.39
7   2005  29.12  23.56   36.50
8   2006  28.34  22.58   35.89
9   2007  26.54  21.51   33.17
10  2008  22.41  19.69   25.74
11  2009  23.52  21.89   25.54
12  2010  24.68  22.84   26.98
13  2011  24.64  22.56   27.19
14  2012  24.73  22.84   27.05
15  2013  24.56  22.95   26.52
16  2014  24.89  23.15   27.02
17  2015  25.15  23.20   27.52
18  2016  26.54  24.53   28.98
19  2017  27.04  25.20   29.26
20  2018  26.91  25.13   29.05
21  2019  28.47  26.79   30.50
22  2020  29.22  27.74   31.02

In [21]:
def unemployement_stats():
    df = pd.read_csv('emp.csv')
    return df

In [12]:
unemployement_stats().tail()

NameError: name 'unemployement_stats' is not defined

In [52]:
def male_unemployment_rate():
    male = pd.read_csv('emp.csv')
    df = male[['year', 'male']]
    return df #.to_dict('record')

In [53]:
male_unemployment_rate().head()

   year   male
0  1998  21.32
1  1999  21.06
2  2000  25.33
3  2001  26.33
4  2002  27.31

In [56]:
def female_unemployment_rate():
    female = pd.read_csv('emp.csv')
    df = female[['year', 'female']]
    return df #.to_dict('record')

In [57]:
female_unemployment_rate().head()

   year  female
0  1998   29.96
1  1999   30.26
2  2000   35.66
3  2001   36.41
4  2002   41.32

In [60]:
def total_employment_rate():
    df = pd.read_csv('emp.csv')
    df = df[['year', 'total']]
    return df #.to_dict('record')

In [61]:
total_employment_rate().head()

   year  total
0  1998  25.00
1  1999  25.37
2  2000  29.88
3  2001  30.69
4  2002  33.29

In [14]:
d = pd.read_csv('unemployement.csv')

In [15]:
d

,year,Time Code,country,Country Code,youth,male_youth,"Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.ZS]","Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.MA.ZS]",female_youth,total_unemployement,...,"Unemployment, female (% of female labor force) (modeled ILO estimate) [SL.UEM.TOTL.FE.ZS]",male_intermediate_education,female_intermediate_education,intermediate_education,male_basic_education,female_basic_education,unemployement_basic_education,male_advanced_education,female_advanced_education,unemployement_advanced_education
0,1960,YR1960,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1960,YR1960,Albania,ALB,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1960,YR1960,Algeria,DZA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1960,YR1960,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1960,YR1960,Andorra,AND,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16221,2020,YR2020,Sub-Saharan Africa,SSF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16222,2020,YR2020,Sub-Saharan Africa (excluding high income),SSA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16223,2020,YR2020,Sub-Saharan Africa (IDA & IBRD countries),TSS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16224,2020,YR2020,Upper middle income,UMC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16225,2020,YR2020,World,WLD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
sa = d.query('country == "South Africa"')

In [17]:
sa

,year,Time Code,country,Country Code,youth,male_youth,"Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.ZS]","Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.MA.ZS]",female_youth,total_unemployement,...,"Unemployment, female (% of female labor force) (modeled ILO estimate) [SL.UEM.TOTL.FE.ZS]",male_intermediate_education,female_intermediate_education,intermediate_education,male_basic_education,female_basic_education,unemployement_basic_education,male_advanced_education,female_advanced_education,unemployement_advanced_education
177,1960,YR1960,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
443,1961,YR1961,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
709,1962,YR1962,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,1963,YR1963,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1241,1964,YR1964,South Africa,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15073,2016,YR2016,South Africa,ZAF,53.35,48.59,53.63,48.86,59.30,26.54,...,28.99,24.09,31.000000,27.25,29.760000,36.599998,32.709999,10.18,11.22,10.73
15339,2017,YR2017,South Africa,ZAF,53.20,48.82,53.53,49.12,58.51,27.04,...,29.26,24.98,31.280001,27.84,30.889999,36.439999,33.290001,10.94,14.59,12.86
15605,2018,YR2018,South Africa,ZAF,53.41,49.15,53.77,49.48,58.74,26.91,...,29.05,25.57,32.009998,28.48,30.430000,35.520000,32.650002,10.79,13.17,12.03
15871,2019,YR2019,South Africa,ZAF,57.05,53.22,57.47,53.59,61.72,28.47,...,30.50,26.83,33.070000,29.66,32.650002,37.849998,34.919998,11.97,15.03,13.58
16137,2020,YR2020,South Africa,ZAF,59.36,55.43,NaN,NaN,64.06,29.22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
sa.to_csv('a11.csv')