In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('current.csv')

In [5]:
df.head(100)

,Series Name,Series Code,country,Country Code,year,Time Code,balance
0,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,South Africa,ZAF,1960.0,YR1960,0.646831
1,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,South Africa,ZAF,1961.0,YR1961,3.388938
2,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,South Africa,ZAF,1962.0,YR1962,5.057661
3,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,South Africa,ZAF,1963.0,YR1963,2.065072
4,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,South Africa,ZAF,1964.0,YR1964,-1.551957
...,...,...,...,...,...,...,...
95,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,Afghanistan,AFG,1994.0,YR1994,NaN
96,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,Afghanistan,AFG,1995.0,YR1995,NaN
97,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,Afghanistan,AFG,1996.0,YR1996,NaN
98,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,Afghanistan,AFG,1997.0,YR1997,NaN
99,Current account balance (% of GDP),BN.CAB.XOKA.GD.ZS,Afghanistan,AFG,1998.0,YR1998,NaN

In [6]:
df.isnull().sum()

Series Name        3
Series Code        5
country            5
Country Code       5
year               5
Time Code          5
balance         9606
dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16231 entries, 0 to 16230
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Series Name   16228 non-null  object
 1   Series Code   16226 non-null  object
 2   country       16226 non-null  object
 3   Country Code  16226 non-null  object
 4   year          16226 non-null  float64
 5   Time Code     16226 non-null  object
 6   balance       6625 non-null   float64
dtypes: float64(2), object(5)
memory usage: 887.8+ KB