In [1]:
import pandas as pd
import numpy as np
from operator import getitem
from functools import partial

In [2]:
df = pd.read_json('c.json')
df

,id,name,iso3,iso2,phone_code,capital,currency,currency_symbol,tld,native,region,subregion,timezones,translations,latitude,longitude,emoji,emojiU,states
0,1,Afghanistan,AFG,AF,93,Kabul,AFN,ÿã,.af,ÿßŸÅÿ∫ÿßŸÜÿ≥ÿ™ÿßŸÜ,Asia,Southern Asia,"[{'zoneName': 'Asia/Kabul', 'gmtOffset': 16200...","{'br': 'Afeganist√£o', 'pt': 'Afeganist√£o', 'nl...",33.000000,65.0,üá¶üá´,U+1F1E6 U+1F1EB,"[{'id': 3901, 'name': 'Badakhshan', 'state_cod..."
1,2,Aland Islands,ALA,AX,+358-18,Mariehamn,EUR,‚Ç¨,.ax,√Öland,Europe,Northern Europe,"[{'zoneName': 'Europe/Mariehamn', 'gmtOffset':...","{'br': 'Ilhas de Aland', 'pt': 'Ilhas de Aland...",60.116667,19.9,üá¶üáΩ,U+1F1E6 U+1F1FD,[]
2,3,Albania,ALB,AL,355,Tirana,ALL,Lek,.al,Shqip√´ria,Europe,Southern Europe,"[{'zoneName': 'Europe/Tirane', 'gmtOffset': 36...","{'br': 'Alb√¢nia', 'pt': 'Alb√¢nia', 'nl': 'Alba...",41.000000,20.0,üá¶üá±,U+1F1E6 U+1F1F1,"[{'id': 603, 'name': 'Berat County', 'state_co..."
3,4,Algeria,DZA,DZ,213,Algiers,DZD,ÿØÿ¨,.dz,ÿßŸÑÿ¨ÿ≤ÿßÿ¶ÿ±,Africa,Northern Africa,"[{'zoneName': 'Africa/Algiers', 'gmtOffset': 3...","{'br': 'Arg√©lia', 'pt': 'Arg√©lia', 'nl': 'Alge...",28.000000,3.0,üá©üáø,U+1F1E9 U+1F1FF,"[{'id': 1118, 'name': 'Adrar', 'state_code': '..."
4,5,American Samoa,ASM,AS,+1-684,Pago Pago,USD,$,.as,American Samoa,Oceania,Polynesia,"[{'zoneName': 'Pacific/Pago_Pago', 'gmtOffset'...","{'br': 'Samoa Americana', 'pt': 'Samoa America...",-14.333333,-170.0,üá¶üá∏,U+1F1E6 U+1F1F8,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,243,Wallis And Futuna Islands,WLF,WF,681,Mata Utu,XPF,‚Ç£,.wf,Wallis et Futuna,Oceania,Polynesia,"[{'zoneName': 'Pacific/Wallis', 'gmtOffset': 4...","{'br': 'Wallis e Futuna', 'pt': 'Wallis e Futu...",-13.300000,-176.2,üáºüá´,U+1F1FC U+1F1EB,[]
246,244,Western Sahara,ESH,EH,212,El-Aaiun,MAD,MAD,.eh,ÿßŸÑÿµÿ≠ÿ±ÿßÿ° ÿßŸÑÿ∫ÿ±ÿ®Ÿäÿ©,Africa,Northern Africa,"[{'zoneName': 'Africa/El_Aaiun', 'gmtOffset': ...","{'br': 'Saara Ocidental', 'pt': 'Saara Ocident...",24.500000,-13.0,üá™üá≠,U+1F1EA U+1F1ED,[]
247,245,Yemen,YEM,YE,967,Sanaa,YER,Ô∑º,.ye,ÿßŸÑŸäŸéŸÖŸéŸÜ,Asia,Western Asia,"[{'zoneName': 'Asia/Aden', 'gmtOffset': 10800,...","{'br': 'I√™men', 'pt': 'I√©men', 'nl': 'Jemen', ...",15.000000,48.0,üáæüá™,U+1F1FE U+1F1EA,"[{'id': 1242, 'name': ''Adan Governorate', 'st..."
248,246,Zambia,ZMB,ZM,260,Lusaka,ZMW,ZK,.zm,Zambia,Africa,Eastern Africa,"[{'zoneName': 'Africa/Lusaka', 'gmtOffset': 72...","{'br': 'Z√¢mbia', 'pt': 'Z√¢mbia', 'nl': 'Zambia...",-15.000000,30.0,üáøüá≤,U+1F1FF U+1F1F2,"[{'id': 1986, 'name': 'Central Province', 'sta..."
249,247,Zimbabwe,ZWE,ZW,263,Harare,ZWL,$,.zw,Zimbabwe,Africa,Eastern Africa,"[{'zoneName': 'Africa/Harare', 'gmtOffset': 72...","{'br': 'Zimbabwe', 'pt': 'Zimbabu√©', 'nl': 'Zi...",-20.000000,30.0,üáøüáº,U+1F1FF U+1F1FC,"[{'id': 1956, 'name': 'Bulawayo Province', 'st..."

In [15]:
df = pd.read_json('c.json')
df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id'], axis = 1)
df.head(50)

,name,iso3,iso2,phone_code,capital,currency,currency_symbol,region,subregion,latitude,longitude,emoji
0,Afghanistan,AFG,AF,93,Kabul,AFN,ÿã,Asia,Southern Asia,33.000000,65.000000,üá¶üá´
1,Aland Islands,ALA,AX,+358-18,Mariehamn,EUR,‚Ç¨,Europe,Northern Europe,60.116667,19.900000,üá¶üáΩ
2,Albania,ALB,AL,355,Tirana,ALL,Lek,Europe,Southern Europe,41.000000,20.000000,üá¶üá±
3,Algeria,DZA,DZ,213,Algiers,DZD,ÿØÿ¨,Africa,Northern Africa,28.000000,3.000000,üá©üáø
4,American Samoa,ASM,AS,+1-684,Pago Pago,USD,$,Oceania,Polynesia,-14.333333,-170.000000,üá¶üá∏
5,Andorra,AND,AD,376,Andorra la Vella,EUR,‚Ç¨,Europe,Southern Europe,42.500000,1.500000,üá¶üá©
6,Angola,AGO,AO,244,Luanda,AOA,Kz,Africa,Middle Africa,-12.500000,18.500000,üá¶üá¥
7,Anguilla,AIA,AI,+1-264,The Valley,XCD,$,Americas,Caribbean,18.250000,-63.166667,üá¶üáÆ
8,Antarctica,ATA,AQ,,,,$,Polar,,-74.650000,4.480000,üá¶üá∂
9,Antigua And Barbuda,ATG,AG,+1-268,St. John's,XCD,$,Americas,Caribbean,17.050000,-61.800000,üá¶üá¨
10,Argentina,ARG,AR,54,Buenos Aires,ARS,$,Americas,South America,-34.000000,-64.000000,üá¶üá∑
11,Armenia,ARM,AM,374,Yerevan,AMD,÷è,Asia,Western Asia,40.000000,45.000000,üá¶üá≤
12,Aruba,ABW,AW,297,Oranjestad,AWG,∆í,Americas,Caribbean,12.500000,-69.966667,üá¶üáº
13,Australia,AUS,AU,61,Canberra,AUD,$,Oceania,Australia and New Zealand,-27.000000,133.000000,üá¶üá∫
14,Austria,AUT,AT,43,Vienna,EUR,‚Ç¨,Europe,Western Europe,47.333333,13.333333,üá¶üáπ
15,Azerbaijan,AZE,AZ,994,Baku,AZN,m,Asia,Western Asia,40.500000,47.500000,üá¶üáø
16,Bahamas The,BHS,BS,+1-242,Nassau,BSD,B$,Americas,Caribbean,24.250000,-76.000000,üáßüá∏
17,Bahrain,BHR,BH,973,Manama,BHD,.ÿØ.ÿ®,Asia,Western Asia,26.000000,50.550000,üáßüá≠
18,Bangladesh,BGD,BD,880,Dhaka,BDT,‡ß≥,Asia,Southern Asia,24.000000,90.000000,üáßüá©
19,Barbados,BRB,BB,+1-246,Bridgetown,BBD,Bds$,Americas,Caribbean,13.166667,-59.533333,üáßüáß
20,Belarus,BLR,BY,375,Minsk,BYN,Br,Europe,Eastern Europe,53.000000,28.000000,üáßüáæ
21,Belgium,BEL,BE,32,Brussels,EUR,‚Ç¨,Europe,Western Europe,50.833333,4.000000,üáßüá™
22,Belize,BLZ,BZ,501,Belmopan,BZD,$,Americas,Central America,17.250000,-88.750000,üáßüáø
23,Benin,BEN,BJ,229,Porto-Novo,XOF,CFA,Africa,Western Africa,9.500000,2.250000,üáßüáØ
24,Bermuda,BMU,BM,+1-441,Hamilton,BMD,$,Americas,Northern America,32.333333,-64.750000,üáßüá≤
25,Bhutan,BTN,BT,975,Thimphu,BTN,Nu.,Asia,Southern Asia,27.500000,90.500000,üáßüáπ
26,Bolivia,BOL,BO,591,Sucre,BOB,Bs.,Americas,South America,-17.000000,-65.000000,üáßüá¥
27,"Bonaire, Sint Eustatius and Saba",BES,BQ,599,Kralendijk,USD,$,Americas,Caribbean,12.150000,-68.266667,üáßüá∂
28,Bosnia and Herzegovina,BIH,BA,387,Sarajevo,BAM,KM,Europe,Southern Europe,44.000000,18.000000,üáßüá¶
29,Botswana,BWA,BW,267,Gaborone,BWP,P,Africa,Southern Africa,-22.000000,24.000000,üáßüáº
30,Bouvet Island,BVT,BV,0055,,NOK,kr,,,-54.433333,3.400000,üáßüáª
31,Brazil,BRA,BR,55,Brasilia,BRL,R$,Americas,South America,-10.000000,-55.000000,üáßüá∑
32,British Indian Ocean Territory,IOT,IO,246,Diego Garcia,USD,$,Africa,Eastern Africa,-6.000000,71.500000,üáÆüá¥
33,Brunei,BRN,BN,673,Bandar Seri Begawan,BND,B$,Asia,South-Eastern Asia,4.500000,114.666667,üáßüá≥
34,Bulgaria,BGR,BG,359,Sofia,BGN,–õ–≤.,Europe,Eastern Europe,43.000000,25.000000,üáßüá¨
35,Burkina Faso,BFA,BF,226,Ouagadougou,XOF,CFA,Africa,Western Africa,13.000000,-2.000000,üáßüá´
36,Burundi,BDI,BI,257,Bujumbura,BIF,FBu,Africa,Eastern Africa,-3.500000,30.000000,üáßüáÆ
37,Cambodia,KHM,KH,855,Phnom Penh,KHR,KHR,Asia,South-Eastern Asia,13.000000,105.000000,üá∞üá≠
38,Cameroon,CMR,CM,237,Yaounde,XAF,FCFA,Africa,Middle Africa,6.000000,12.000000,üá®üá≤
39,Canada,CAN,CA,1,Ottawa,CAD,$,Americas,Northern America,60.000000,-95.000000,üá®üá¶
40,Cape Verde,CPV,CV,238,Praia,CVE,$,Africa,Western Africa,16.000000,-24.000000,üá®üáª
41,Cayman Islands,CYM,KY,+1-345,George Town,KYD,$,Americas,Caribbean,19.500000,-80.500000,üá∞üáæ
42,Central African Republic,CAF,CF,236,Bangui,XAF,FCFA,Africa,Middle Africa,7.000000,21.000000,üá®üá´
43,Chad,TCD,TD,235,N'Djamena,XAF,FCFA,Africa,Middle Africa,15.000000,19.000000,üáπüá©
44,Chile,CHL,CL,56,Santiago,CLP,$,Americas,South America,-30.000000,-71.000000,üá®üá±
45,China,CHN,CN,86,Beijing,CNY,¬•,Asia,Eastern Asia,35.000000,105.000000,üá®üá≥
46,Christmas Island,CXR,CX,61,Flying Fish Cove,AUD,$,Oceania,Australia and New Zealand,-10.500000,105.666667,üá®üáΩ
47,Cocos (Keeling) Islands,CCK,CC,61,West Island,AUD,$,Oceania,Australia and New Zealand,-12.500000,96.833333,üá®üá®
48,Colombia,COL,CO,57,Bogota,COP,$,Americas,South America,4.000000,-72.000000,üá®üá¥
49,Comoros,COM,KM,269,Moroni,KMF,CF,Africa,Eastern Africa,-12.166667,44.250000,üá∞üá≤

In [16]:
df.to_csv('out.csv')

In [4]:
df = df.query('region == "Africa"')
df.head(50)

,name,iso3,iso2,phone_code,capital,currency,currency_symbol,region,subregion,latitude,longitude,emoji
3,Algeria,DZA,DZ,213,Algiers,DZD,ÿØÿ¨,Africa,Northern Africa,28.000000,3.000000,üá©üáø
6,Angola,AGO,AO,244,Luanda,AOA,Kz,Africa,Middle Africa,-12.500000,18.500000,üá¶üá¥
23,Benin,BEN,BJ,229,Porto-Novo,XOF,CFA,Africa,Western Africa,9.500000,2.250000,üáßüáØ
29,Botswana,BWA,BW,267,Gaborone,BWP,P,Africa,Southern Africa,-22.000000,24.000000,üáßüáº
32,British Indian Ocean Territory,IOT,IO,246,Diego Garcia,USD,$,Africa,Eastern Africa,-6.000000,71.500000,üáÆüá¥
35,Burkina Faso,BFA,BF,226,Ouagadougou,XOF,CFA,Africa,Western Africa,13.000000,-2.000000,üáßüá´
36,Burundi,BDI,BI,257,Bujumbura,BIF,FBu,Africa,Eastern Africa,-3.500000,30.000000,üáßüáÆ
38,Cameroon,CMR,CM,237,Yaounde,XAF,FCFA,Africa,Middle Africa,6.000000,12.000000,üá®üá≤
40,Cape Verde,CPV,CV,238,Praia,CVE,$,Africa,Western Africa,16.000000,-24.000000,üá®üáª
42,Central African Republic,CAF,CF,236,Bangui,XAF,FCFA,Africa,Middle Africa,7.000000,21.000000,üá®üá´
43,Chad,TCD,TD,235,N'Djamena,XAF,FCFA,Africa,Middle Africa,15.000000,19.000000,üáπüá©
49,Comoros,COM,KM,269,Moroni,KMF,CF,Africa,Eastern Africa,-12.166667,44.250000,üá∞üá≤
50,Congo,COG,CG,242,Brazzaville,XAF,FC,Africa,Middle Africa,-1.000000,15.000000,üá®üá¨
51,Congo The Democratic Republic Of The,COD,CD,243,Kinshasa,CDF,FC,Africa,Middle Africa,0.000000,25.000000,üá®üá©
54,Cote D'Ivoire (Ivory Coast),CIV,CI,225,Yamoussoukro,XOF,CFA,Africa,Western Africa,8.000000,-5.000000,üá®üáÆ
61,Djibouti,DJI,DJ,253,Djibouti,DJF,Fdj,Africa,Eastern Africa,11.500000,43.000000,üá©üáØ
66,Egypt,EGY,EG,20,Cairo,EGP,ÿ¨.ŸÖ,Africa,Northern Africa,27.000000,30.000000,üá™üá¨
68,Equatorial Guinea,GNQ,GQ,240,Malabo,XAF,FCFA,Africa,Middle Africa,2.000000,10.000000,üá¨üá∂
69,Eritrea,ERI,ER,291,Asmara,ERN,Nfk,Africa,Eastern Africa,15.000000,39.000000,üá™üá∑
71,Ethiopia,ETH,ET,251,Addis Ababa,ETB,Nkf,Africa,Eastern Africa,8.000000,38.000000,üá™üáπ
79,French Southern Territories,ATF,TF,,Port-aux-Francais,EUR,‚Ç¨,Africa,Southern Africa,-49.250000,69.167000,üáπüá´
80,Gabon,GAB,GA,241,Libreville,XAF,FCFA,Africa,Middle Africa,-1.000000,11.750000,üá¨üá¶
81,Gambia The,GMB,GM,220,Banjul,GMD,D,Africa,Western Africa,13.466667,-16.566667,üá¨üá≤
84,Ghana,GHA,GH,233,Accra,GHS,GH‚Çµ,Africa,Western Africa,8.000000,-2.000000,üá¨üá≠
93,Guinea,GIN,GN,224,Conakry,GNF,FG,Africa,Western Africa,11.000000,-10.000000,üá¨üá≥
94,Guinea-Bissau,GNB,GW,245,Bissau,XOF,CFA,Africa,Western Africa,12.000000,-15.000000,üá¨üáº
114,Kenya,KEN,KE,254,Nairobi,KES,KSh,Africa,Eastern Africa,1.000000,38.000000,üá∞üá™
124,Lesotho,LSO,LS,266,Maseru,LSL,L,Africa,Southern Africa,-29.500000,28.500000,üá±üá∏
125,Liberia,LBR,LR,231,Monrovia,LRD,$,Africa,Western Africa,6.500000,-9.500000,üá±üá∑
126,Libya,LBY,LY,218,Tripolis,LYD,ÿØ.ŸÑ,Africa,Northern Africa,25.000000,17.000000,üá±üáæ
132,Madagascar,MDG,MG,261,Antananarivo,MGA,Ar,Africa,Eastern Africa,-20.000000,47.000000,üá≤üá¨
133,Malawi,MWI,MW,265,Lilongwe,MWK,MK,Africa,Eastern Africa,-13.500000,34.000000,üá≤üáº
136,Mali,MLI,ML,223,Bamako,XOF,CFA,Africa,Western Africa,17.000000,-4.000000,üá≤üá±
141,Mauritania,MRT,MR,222,Nouakchott,MRO,MRU,Africa,Western Africa,20.000000,-12.000000,üá≤üá∑
142,Mauritius,MUS,MU,230,Port Louis,MUR,‚Ç®,Africa,Eastern Africa,-20.283333,57.550000,üá≤üá∫
143,Mayotte,MYT,YT,262,Mamoudzou,EUR,‚Ç¨,Africa,Eastern Africa,-12.833333,45.166667,üáæüáπ
151,Morocco,MAR,MA,212,Rabat,MAD,DH,Africa,Northern Africa,32.000000,-5.000000,üá≤üá¶
152,Mozambique,MOZ,MZ,258,Maputo,MZN,MT,Africa,Eastern Africa,-18.250000,35.000000,üá≤üáø
154,Namibia,NAM,NA,264,Windhoek,NAD,$,Africa,Southern Africa,-22.000000,17.000000,üá≥üá¶
161,Niger,NER,NE,227,Niamey,XOF,CFA,Africa,Western Africa,16.000000,8.000000,üá≥üá™
162,Nigeria,NGA,NG,234,Abuja,NGN,‚Ç¶,Africa,Western Africa,10.000000,8.000000,üá≥üá¨
181,Reunion,REU,RE,262,Saint-Denis,EUR,‚Ç¨,Africa,Eastern Africa,-21.150000,55.500000,üá∑üá™
184,Rwanda,RWA,RW,250,Kigali,RWF,FRw,Africa,Eastern Africa,-2.000000,30.000000,üá∑üáº
185,Saint Helena,SHN,SH,290,Jamestown,SHP,¬£,Africa,Western Africa,-15.950000,-5.700000,üá∏üá≠
194,Sao Tome and Principe,STP,ST,239,Sao Tome,STD,Db,Africa,Middle Africa,1.000000,7.000000,üá∏üáπ
196,Senegal,SEN,SN,221,Dakar,XOF,CFA,Africa,Western Africa,14.000000,-14.000000,üá∏üá≥
198,Seychelles,SYC,SC,248,Victoria,SCR,SRe,Africa,Eastern Africa,-4.583333,55.666667,üá∏üá®
199,Sierra Leone,SLE,SL,232,Freetown,SLL,Le,Africa,Western Africa,8.500000,-11.500000,üá∏üá±
205,Somalia,SOM,SO,252,Mogadishu,SOS,Sh.so.,Africa,Eastern Africa,10.000000,49.000000,üá∏üá¥
206,South Africa,ZAF,ZA,27,Pretoria,ZAR,R,Africa,Southern Africa,-29.000000,24.000000,üáøüá¶

In [5]:
def africa():
    df = pd.read_json('c.json')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id'], axis = 1)
    data = df.query('region == "Africa"')
    # df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return data
africa().head()

,name,iso3,iso2,phone_code,capital,currency,currency_symbol,region,subregion,latitude,longitude,emoji
3,Algeria,DZA,DZ,213,Algiers,DZD,ÿØÿ¨,Africa,Northern Africa,28.0,3.00,üá©üáø
6,Angola,AGO,AO,244,Luanda,AOA,Kz,Africa,Middle Africa,-12.5,18.50,üá¶üá¥
23,Benin,BEN,BJ,229,Porto-Novo,XOF,CFA,Africa,Western Africa,9.5,2.25,üáßüáØ
29,Botswana,BWA,BW,267,Gaborone,BWP,P,Africa,Southern Africa,-22.0,24.00,üáßüáº
32,British Indian Ocean Territory,IOT,IO,246,Diego Garcia,USD,$,Africa,Eastern Africa,-6.0,71.50,üáÆüá¥

In [6]:
def asia():
    df = pd.read_json('c.json')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id'], axis = 1)
    data = df.query('region == "Asia"')
    # df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return data
asia()

,name,iso3,iso2,phone_code,capital,currency,currency_symbol,region,subregion,latitude,longitude,emoji
0,Afghanistan,AFG,AF,93,Kabul,AFN,ÿã,Asia,Southern Asia,33.000000,65.000000,üá¶üá´
11,Armenia,ARM,AM,374,Yerevan,AMD,÷è,Asia,Western Asia,40.000000,45.000000,üá¶üá≤
15,Azerbaijan,AZE,AZ,994,Baku,AZN,m,Asia,Western Asia,40.500000,47.500000,üá¶üáø
17,Bahrain,BHR,BH,973,Manama,BHD,.ÿØ.ÿ®,Asia,Western Asia,26.000000,50.550000,üáßüá≠
18,Bangladesh,BGD,BD,880,Dhaka,BDT,‡ß≥,Asia,Southern Asia,24.000000,90.000000,üáßüá©
25,Bhutan,BTN,BT,975,Thimphu,BTN,Nu.,Asia,Southern Asia,27.500000,90.500000,üáßüáπ
33,Brunei,BRN,BN,673,Bandar Seri Begawan,BND,B$,Asia,South-Eastern Asia,4.500000,114.666667,üáßüá≥
37,Cambodia,KHM,KH,855,Phnom Penh,KHR,KHR,Asia,South-Eastern Asia,13.000000,105.000000,üá∞üá≠
45,China,CHN,CN,86,Beijing,CNY,¬•,Asia,Eastern Asia,35.000000,105.000000,üá®üá≥
64,East Timor,TLS,TL,670,Dili,USD,$,Asia,South-Eastern Asia,-8.833333,125.916667,üáπüá±
82,Georgia,GEO,GE,995,Tbilisi,GEL,·Éö,Asia,Western Asia,42.000000,43.500000,üá¨üá™
99,Hong Kong S.A.R.,HKG,HK,852,Hong Kong,HKD,$,Asia,Eastern Asia,22.250000,114.166667,üá≠üá∞
102,India,IND,IN,91,New Delhi,INR,‚Çπ,Asia,Southern Asia,20.000000,77.000000,üáÆüá≥
103,Indonesia,IDN,ID,62,Jakarta,IDR,Rp,Asia,South-Eastern Asia,-5.000000,120.000000,üáÆüá©
104,Iran,IRN,IR,98,Tehran,IRR,Ô∑º,Asia,Southern Asia,32.000000,53.000000,üáÆüá∑
105,Iraq,IRQ,IQ,964,Baghdad,IQD,ÿØ.ÿπ,Asia,Western Asia,33.000000,44.000000,üáÆüá∂
107,Israel,ISR,IL,972,Jerusalem,ILS,‚Ç™,Asia,Western Asia,31.500000,34.750000,üáÆüá±
110,Japan,JPN,JP,81,Tokyo,JPY,¬•,Asia,Eastern Asia,36.000000,138.000000,üáØüáµ
112,Jordan,JOR,JO,962,Amman,JOD,ÿß.ÿØ,Asia,Western Asia,31.000000,36.000000,üáØüá¥
113,Kazakhstan,KAZ,KZ,7,Astana,KZT,–ª–≤,Asia,Central Asia,48.000000,68.000000,üá∞üáø
116,Korea North,PRK,KP,850,Pyongyang,KPW,‚Ç©,Asia,Eastern Asia,40.000000,127.000000,üá∞üáµ
117,Korea South,KOR,KR,82,Seoul,KRW,‚Ç©,Asia,Eastern Asia,37.000000,127.500000,üá∞üá∑
119,Kuwait,KWT,KW,965,Kuwait City,KWD,ŸÉ.ÿØ,Asia,Western Asia,29.500000,45.750000,üá∞üáº
120,Kyrgyzstan,KGZ,KG,996,Bishkek,KGS,–ª–≤,Asia,Central Asia,41.000000,75.000000,üá∞üá¨
121,Laos,LAO,LA,856,Vientiane,LAK,‚Ç≠,Asia,South-Eastern Asia,18.000000,105.000000,üá±üá¶
123,Lebanon,LBN,LB,961,Beirut,LBP,¬£,Asia,Western Asia,33.833333,35.833333,üá±üáß
130,Macau S.A.R.,MAC,MO,853,Macao,MOP,$,Asia,Eastern Asia,22.166667,113.550000,üá≤üá¥
134,Malaysia,MYS,MY,60,Kuala Lumpur,MYR,RM,Asia,South-Eastern Asia,2.500000,112.500000,üá≤üáæ
135,Maldives,MDV,MV,960,Male,MVR,Rf,Asia,Southern Asia,3.250000,73.000000,üá≤üáª
148,Mongolia,MNG,MN,976,Ulan Bator,MNT,‚ÇÆ,Asia,Eastern Asia,46.000000,105.000000,üá≤üá≥
153,Myanmar,MMR,MM,95,Nay Pyi Taw,MMK,K,Asia,South-Eastern Asia,22.000000,98.000000,üá≤üá≤
156,Nepal,NPL,NP,977,Kathmandu,NPR,‚Ç®,Asia,Southern Asia,28.000000,84.000000,üá≥üáµ
167,Oman,OMN,OM,968,Muscat,OMR,.ÿπ.ÿ±,Asia,Western Asia,21.000000,57.000000,üá¥üá≤
168,Pakistan,PAK,PK,92,Islamabad,PKR,‚Ç®,Asia,Southern Asia,30.000000,70.000000,üáµüá∞
170,Palestinian Territory Occupied,PSE,PS,970,East Jerusalem,ILS,‚Ç™,Asia,Western Asia,31.900000,35.200000,üáµüá∏
175,Philippines,PHL,PH,63,Manila,PHP,‚Ç±,Asia,South-Eastern Asia,13.000000,122.000000,üáµüá≠
180,Qatar,QAT,QA,974,Doha,QAR,ŸÇ.ÿ±,Asia,Western Asia,25.500000,51.250000,üá∂üá¶
195,Saudi Arabia,SAU,SA,966,Riyadh,SAR,Ô∑º,Asia,Western Asia,25.000000,45.000000,üá∏üá¶
200,Singapore,SGP,SG,65,Singapur,SGD,$,Asia,South-Eastern Asia,1.366667,103.800000,üá∏üá¨
210,Sri Lanka,LKA,LK,94,Colombo,LKR,Rs,Asia,Southern Asia,7.000000,81.000000,üá±üá∞
217,Syria,SYR,SY,963,Damascus,SYP,LS,Asia,Western Asia,35.000000,38.000000,üá∏üáæ
218,Taiwan,TWN,TW,886,Taipei,TWD,$,Asia,Eastern Asia,23.500000,121.000000,üáπüáº
219,Tajikistan,TJK,TJ,992,Dushanbe,TJS,SM,Asia,Central Asia,39.000000,71.000000,üáπüáØ
221,Thailand,THA,TH,66,Bangkok,THB,‡∏ø,Asia,South-Eastern Asia,15.000000,100.000000,üáπüá≠
227,Turkey,TUR,TR,90,Ankara,TRY,‚Ç∫,Asia,Western Asia,39.000000,35.000000,üáπüá∑
228,Turkmenistan,TKM,TM,993,Ashgabat,TMT,T,Asia,Central Asia,40.000000,60.000000,üáπüá≤
233,United Arab Emirates,ARE,AE,971,Abu Dhabi,AED,ÿ•.ÿØ,Asia,Western Asia,24.000000,54.000000,üá¶üá™
238,Uzbekistan,UZB,UZ,998,Tashkent,UZS,–ª–≤,Asia,Central Asia,41.000000,64.000000,üá∫üáø
242,Vietnam,VNM,VN,84,Hanoi,VND,‚Ç´,Asia,South-Eastern Asia,16.166667,107.833333,üáªüá≥
247,Yemen,YEM,YE,967,Sanaa,YER,Ô∑º,Asia,Western Asia,15.000000,48.000000,üáæüá™

In [7]:
def oceania():
    df = pd.read_json('c.json')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id'], axis = 1)
    df = df.query('region == "Oceania"')
    # df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
oceania()

,name,iso3,iso2,phone_code,capital,currency,currency_symbol,region,subregion,latitude,longitude,emoji
4,American Samoa,ASM,AS,+1-684,Pago Pago,USD,$,Oceania,Polynesia,-14.333333,-170.000000,üá¶üá∏
13,Australia,AUS,AU,61,Canberra,AUD,$,Oceania,Australia and New Zealand,-27.000000,133.000000,üá¶üá∫
46,Christmas Island,CXR,CX,61,Flying Fish Cove,AUD,$,Oceania,Australia and New Zealand,-10.500000,105.666667,üá®üáΩ
47,Cocos (Keeling) Islands,CCK,CC,61,West Island,AUD,$,Oceania,Australia and New Zealand,-12.500000,96.833333,üá®üá®
52,Cook Islands,COK,CK,682,Avarua,NZD,$,Oceania,Polynesia,-21.233333,-159.766667,üá®üá∞
74,Fiji Islands,FJI,FJ,679,Suva,FJD,FJ$,Oceania,Melanesia,-18.000000,175.000000,üá´üáØ
78,French Polynesia,PYF,PF,689,Papeete,XPF,‚Ç£,Oceania,Polynesia,-15.000000,-140.000000,üáµüá´
90,Guam,GUM,GU,+1-671,Hagatna,USD,$,Oceania,Micronesia,13.466667,144.783333,üá¨üá∫
115,Kiribati,KIR,KI,686,Tarawa,AUD,$,Oceania,Micronesia,1.416667,173.000000,üá∞üáÆ
139,Marshall Islands,MHL,MH,692,Majuro,USD,$,Oceania,Micronesia,9.000000,168.000000,üá≤üá≠
145,Micronesia,FSM,FM,691,Palikir,USD,$,Oceania,Micronesia,6.916667,158.250000,üá´üá≤
155,Nauru,NRU,NR,674,Yaren,AUD,$,Oceania,Micronesia,-0.533333,166.916667,üá≥üá∑
158,New Caledonia,NCL,NC,687,Noumea,XPF,‚Ç£,Oceania,Melanesia,-21.500000,165.500000,üá≥üá®
159,New Zealand,NZL,NZ,64,Wellington,NZD,$,Oceania,Australia and New Zealand,-41.000000,174.000000,üá≥üáø
163,Niue,NIU,NU,683,Alofi,NZD,$,Oceania,Polynesia,-19.033333,-169.866667,üá≥üá∫
164,Norfolk Island,NFK,NF,672,Kingston,AUD,$,Oceania,Australia and New Zealand,-29.033333,167.950000,üá≥üá´
165,Northern Mariana Islands,MNP,MP,+1-670,Saipan,USD,$,Oceania,Micronesia,15.200000,145.750000,üá≤üáµ
169,Palau,PLW,PW,680,Melekeok,USD,$,Oceania,Micronesia,7.500000,134.500000,üáµüáº
172,Papua new Guinea,PNG,PG,675,Port Moresby,PGK,K,Oceania,Melanesia,-6.000000,147.000000,üáµüá¨
176,Pitcairn Island,PCN,PN,870,Adamstown,NZD,$,Oceania,Polynesia,-25.066667,-130.100000,üáµüá≥
192,Samoa,WSM,WS,685,Apia,WST,SAT,Oceania,Polynesia,-13.583333,-172.333333,üáºüá∏
204,Solomon Islands,SLB,SB,677,Honiara,SBD,Si$,Oceania,Melanesia,-8.000000,159.000000,üá∏üáß
223,Tokelau,TKL,TK,690,,NZD,$,Oceania,Polynesia,-9.000000,-172.000000,üáπüá∞
224,Tonga,TON,TO,676,Nuku'alofa,TOP,$,Oceania,Polynesia,-20.000000,-175.000000,üáπüá¥
230,Tuvalu,TUV,TV,688,Funafuti,AUD,$,Oceania,Polynesia,-8.000000,178.000000,üáπüáª
239,Vanuatu,VUT,VU,678,Port Vila,VUV,VT,Oceania,Melanesia,-16.000000,167.000000,üáªüá∫
245,Wallis And Futuna Islands,WLF,WF,681,Mata Utu,XPF,‚Ç£,Oceania,Polynesia,-13.300000,-176.200000,üáºüá´

In [8]:
def europe():
    df = pd.read_json('c.json')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id'], axis = 1)
    df = df.query('region == "Europe"')
    # df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
europe()

,name,iso3,iso2,phone_code,capital,currency,currency_symbol,region,subregion,latitude,longitude,emoji
1,Aland Islands,ALA,AX,+358-18,Mariehamn,EUR,‚Ç¨,Europe,Northern Europe,60.116667,19.900000,üá¶üáΩ
2,Albania,ALB,AL,355,Tirana,ALL,Lek,Europe,Southern Europe,41.000000,20.000000,üá¶üá±
5,Andorra,AND,AD,376,Andorra la Vella,EUR,‚Ç¨,Europe,Southern Europe,42.500000,1.500000,üá¶üá©
14,Austria,AUT,AT,43,Vienna,EUR,‚Ç¨,Europe,Western Europe,47.333333,13.333333,üá¶üáπ
20,Belarus,BLR,BY,375,Minsk,BYN,Br,Europe,Eastern Europe,53.000000,28.000000,üáßüáæ
21,Belgium,BEL,BE,32,Brussels,EUR,‚Ç¨,Europe,Western Europe,50.833333,4.000000,üáßüá™
28,Bosnia and Herzegovina,BIH,BA,387,Sarajevo,BAM,KM,Europe,Southern Europe,44.000000,18.000000,üáßüá¶
34,Bulgaria,BGR,BG,359,Sofia,BGN,–õ–≤.,Europe,Eastern Europe,43.000000,25.000000,üáßüá¨
55,Croatia (Hrvatska),HRV,HR,385,Zagreb,HRK,kn,Europe,Southern Europe,45.166667,15.500000,üá≠üá∑
58,Cyprus,CYP,CY,357,Nicosia,EUR,‚Ç¨,Europe,Southern Europe,35.000000,33.000000,üá®üáæ
59,Czech Republic,CZE,CZ,420,Prague,CZK,Kƒç,Europe,Eastern Europe,49.750000,15.500000,üá®üáø
60,Denmark,DNK,DK,45,Copenhagen,DKK,Kr.,Europe,Northern Europe,56.000000,10.000000,üá©üá∞
70,Estonia,EST,EE,372,Tallinn,EUR,‚Ç¨,Europe,Northern Europe,59.000000,26.000000,üá™üá™
73,Faroe Islands,FRO,FO,298,Torshavn,DKK,Kr.,Europe,Northern Europe,62.000000,-7.000000,üá´üá¥
75,Finland,FIN,FI,358,Helsinki,EUR,‚Ç¨,Europe,Northern Europe,64.000000,26.000000,üá´üáÆ
76,France,FRA,FR,33,Paris,EUR,‚Ç¨,Europe,Western Europe,46.000000,2.000000,üá´üá∑
83,Germany,DEU,DE,49,Berlin,EUR,‚Ç¨,Europe,Western Europe,51.000000,9.000000,üá©üá™
85,Gibraltar,GIB,GI,350,Gibraltar,GIP,¬£,Europe,Southern Europe,36.133333,-5.350000,üá¨üáÆ
86,Greece,GRC,GR,30,Athens,EUR,‚Ç¨,Europe,Southern Europe,39.000000,22.000000,üá¨üá∑
92,Guernsey and Alderney,GGY,GG,+44-1481,St Peter Port,GBP,¬£,Europe,Northern Europe,49.466667,-2.583333,üá¨üá¨
100,Hungary,HUN,HU,36,Budapest,HUF,Ft,Europe,Eastern Europe,47.000000,20.000000,üá≠üá∫
101,Iceland,ISL,IS,354,Reykjavik,ISK,kr,Europe,Northern Europe,65.000000,-18.000000,üáÆüá∏
106,Ireland,IRL,IE,353,Dublin,EUR,‚Ç¨,Europe,Northern Europe,53.000000,-8.000000,üáÆüá™
108,Italy,ITA,IT,39,Rome,EUR,‚Ç¨,Europe,Southern Europe,42.833333,12.833333,üáÆüáπ
111,Jersey,JEY,JE,+44-1534,Saint Helier,GBP,¬£,Europe,Northern Europe,49.250000,-2.166667,üáØüá™
118,Kosovo,XKX,XK,383,Pristina,EUR,‚Ç¨,Europe,Eastern Europe,42.561291,20.340304,üáΩüá∞
122,Latvia,LVA,LV,371,Riga,EUR,‚Ç¨,Europe,Northern Europe,57.000000,25.000000,üá±üáª
127,Liechtenstein,LIE,LI,423,Vaduz,CHF,CHf,Europe,Western Europe,47.266667,9.533333,üá±üáÆ
128,Lithuania,LTU,LT,370,Vilnius,EUR,‚Ç¨,Europe,Northern Europe,56.000000,24.000000,üá±üáπ
129,Luxembourg,LUX,LU,352,Luxembourg,EUR,‚Ç¨,Europe,Western Europe,49.750000,6.166667,üá±üá∫
131,Macedonia,MKD,MK,389,Skopje,MKD,–¥–µ–Ω,Europe,Southern Europe,41.833333,22.000000,üá≤üá∞
137,Malta,MLT,MT,356,Valletta,EUR,‚Ç¨,Europe,Southern Europe,35.833333,14.583333,üá≤üáπ
138,Man (Isle of),IMN,IM,+44-1624,"Douglas, Isle of Man",GBP,¬£,Europe,Northern Europe,54.250000,-4.500000,üáÆüá≤
146,Moldova,MDA,MD,373,Chisinau,MDL,L,Europe,Eastern Europe,47.000000,29.000000,üá≤üá©
147,Monaco,MCO,MC,377,Monaco,EUR,‚Ç¨,Europe,Western Europe,43.733333,7.400000,üá≤üá®
149,Montenegro,MNE,ME,382,Podgorica,EUR,‚Ç¨,Europe,Southern Europe,42.500000,19.300000,üá≤üá™
157,Netherlands The,NLD,NL,31,Amsterdam,EUR,‚Ç¨,Europe,Western Europe,52.500000,5.750000,üá≥üá±
166,Norway,NOR,NO,47,Oslo,NOK,kr,Europe,Northern Europe,62.000000,10.000000,üá≥üá¥
177,Poland,POL,PL,48,Warsaw,PLN,z≈Ç,Europe,Eastern Europe,52.000000,20.000000,üáµüá±
178,Portugal,PRT,PT,351,Lisbon,EUR,‚Ç¨,Europe,Southern Europe,39.500000,-8.000000,üáµüáπ
182,Romania,ROU,RO,40,Bucharest,RON,lei,Europe,Eastern Europe,46.000000,25.000000,üá∑üá¥
183,Russia,RUS,RU,7,Moscow,RUB,‚ÇΩ,Europe,Eastern Europe,60.000000,100.000000,üá∑üá∫
193,San Marino,SMR,SM,378,San Marino,EUR,‚Ç¨,Europe,Southern Europe,43.766667,12.416667,üá∏üá≤
197,Serbia,SRB,RS,381,Belgrade,RSD,din,Europe,Southern Europe,44.000000,21.000000,üá∑üá∏
202,Slovakia,SVK,SK,421,Bratislava,EUR,‚Ç¨,Europe,Eastern Europe,48.666667,19.500000,üá∏üá∞
203,Slovenia,SVN,SI,386,Ljubljana,EUR,‚Ç¨,Europe,Southern Europe,46.116667,14.816667,üá∏üáÆ
209,Spain,ESP,ES,34,Madrid,EUR,‚Ç¨,Europe,Southern Europe,40.000000,-4.000000,üá™üá∏
213,Svalbard And Jan Mayen Islands,SJM,SJ,47,Longyearbyen,NOK,kr,Europe,Northern Europe,78.000000,20.000000,üá∏üáØ
215,Sweden,SWE,SE,46,Stockholm,SEK,kr,Europe,Northern Europe,62.000000,15.000000,üá∏üá™
216,Switzerland,CHE,CH,41,Berne,CHF,CHf,Europe,Western Europe,47.000000,8.000000,üá®üá≠
232,Ukraine,UKR,UA,380,Kiev,UAH,‚Ç¥,Europe,Eastern Europe,49.000000,32.000000,üá∫üá¶
234,United Kingdom,GBR,GB,44,London,GBP,¬£,Europe,Northern Europe,54.000000,-2.000000,üá¨üáß
240,Vatican City State (Holy See),VAT,VA,379,Vatican City,EUR,‚Ç¨,Europe,Southern Europe,41.900000,12.450000,üáªüá¶

In [9]:
def americas():
    df = pd.read_json('c.json')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id'], axis = 1)
    df = df.query('region == "Americas"')
    # df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
americas().head()

,name,iso3,iso2,phone_code,capital,currency,currency_symbol,region,subregion,latitude,longitude,emoji
7,Anguilla,AIA,AI,+1-264,The Valley,XCD,$,Americas,Caribbean,18.25,-63.166667,üá¶üáÆ
9,Antigua And Barbuda,ATG,AG,+1-268,St. John's,XCD,$,Americas,Caribbean,17.05,-61.800000,üá¶üá¨
10,Argentina,ARG,AR,54,Buenos Aires,ARS,$,Americas,South America,-34.00,-64.000000,üá¶üá∑
12,Aruba,ABW,AW,297,Oranjestad,AWG,∆í,Americas,Caribbean,12.50,-69.966667,üá¶üáº
16,Bahamas The,BHS,BS,+1-242,Nassau,BSD,B$,Americas,Caribbean,24.25,-76.000000,üáßüá∏

In [10]:
def polar():
    df = pd.read_json('c.json')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id'], axis = 1)
    df = df.query('region == "Polar"')
    # df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
polar()

,name,iso3,iso2,phone_code,capital,currency,currency_symbol,region,subregion,latitude,longitude,emoji
8,Antarctica,ATA,AQ,,,,$,Polar,,-74.65,4.48,üá¶üá∂

### Sub-regions

In [11]:
def americas():
    df = pd.read_json('c.json')
    df = df.query('region == "Americas"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
americas().head()

                   name       capital  latitude  longitude emoji
7              Anguilla    The Valley     18.25 -63.166667    üá¶üáÆ
9   Antigua And Barbuda    St. John's     17.05 -61.800000    üá¶üá¨
10            Argentina  Buenos Aires    -34.00 -64.000000    üá¶üá∑
12                Aruba    Oranjestad     12.50 -69.966667    üá¶üáº
16          Bahamas The        Nassau     24.25 -76.000000    üáßüá∏

In [12]:
def south_asia():
    df = pd.read_json('c.json')
    df = df.query('subregion == "Southern Asia"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
south_asia()

            name    capital  latitude  longitude emoji
0    Afghanistan      Kabul     33.00       65.0    üá¶üá´
18    Bangladesh      Dhaka     24.00       90.0    üáßüá©
25        Bhutan    Thimphu     27.50       90.5    üáßüáπ
102        India  New Delhi     20.00       77.0    üáÆüá≥
104         Iran     Tehran     32.00       53.0    üáÆüá∑
135     Maldives       Male      3.25       73.0    üá≤üáª
156        Nepal  Kathmandu     28.00       84.0    üá≥üáµ
168     Pakistan  Islamabad     30.00       70.0    üáµüá∞
210    Sri Lanka    Colombo      7.00       81.0    üá±üá∞

In [14]:
def northern_europe():
    df = df.query('subregion == "Northern Europe"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
northern_europe().head()

UnboundLocalError: local variable 'df' referenced before assignment

In [29]:
def northern_africa():
    df = full_df.query('subregion == "Northern Africa"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
northern_africa().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [30]:
def south_europe():
    df = full_df.query('subregion == "Southern Europe"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
south_europe().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [31]:
def polynesia():
    df = full_df.query('subregion == "Polynesia"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
polynesia().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [32]:
def middle_africa():
    df = full_df.query('subregion == "Middle Africa"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
middle_africa().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [33]:
def caribbean():
    df = full_df.query('subregion == "Caribbean"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
caribbean().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [34]:
def south_america():
    df = full_df.query('subregion == "South America"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
south_america().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [35]:
def western_asia():
    df = full_df.query('subregion == "Western Asia"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
western_asia().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [36]:
def western_europe():
    df = full_df.query('subregion == "Western Europe"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
western_europe().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [37]:
def central_america():
    df = full_df.query('subregion == "Central America"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
central_america().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [38]:
def western_africa():
    df = full_df.query('subregion == "Western Africa"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
western_africa().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [39]:
def northern_america():
    df = full_df.query('subregion == "Northern America"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
northern_america().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [40]:
def southern_africa():
    df = full_df.query('subregion == "Southern Africa"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
southern_africa().head()

             name   capital  latitude  longitude emoji
206  South Africa  Pretoria     -29.0       24.0    üáøüá¶

In [41]:
def eastern_africa():
    df = full_df.query('subregion == "Eastern Africa"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
eastern_africa().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [42]:
def south_eastern_asia():
    df = full_df.query('subregion == "South-Eastern Asia"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
south_eastern_asia().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [43]:
def eastern_europe():
    df = full_df.query('subregion == "Eastern Europe"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
eastern_europe().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [44]:
def eastern_asia():
    df = full_df.query('subregion == "Eastern Asia"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
eastern_asia().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [45]:
def australia_newzealand():
    df = full_df.query('subregion == "Australia and New Zealand"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
australia_newzealand().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [46]:
def melanesia():
    df = full_df.query('subregion == "Melanesia"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
melanesia().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [47]:
def central_asia():
    df = full_df.query('subregion == "Central Asia"')
    df = df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
central_asia().head()

Empty DataFrame
Columns: [name, capital, latitude, longitude, emoji]
Index: []

In [48]:
def countries():
    df = full_df.drop(['timezones', 'translations', 'states', 'emojiU', 'native', 'tld', 'id', 'iso3', 'iso2', 'currency_symbol', 'currency', 'phone_code', 'subregion', 'region',], axis = 1)
    return df
countries().head()

             name   capital  latitude  longitude emoji
206  South Africa  Pretoria     -29.0       24.0    üáøüá¶